<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="/">Minh Hieu Education</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="https://scontent.fsgn5-8.fna.fbcdn.net/v/t39.30808-6/298527832_391329423139649_2870771516829730043_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=MytnKVS_VHMAX9x1m7z&_nc_oc=AQknxLMeOPTcqD2KGlqdgphv4dd1wpI9swSK213mOYNCocogjal2RGvLBlrBwl9xwUU&tn=6VtOBWEjuTkO6iGS&_nc_ht=scontent.fsgn5-8.fna&oh=00_AT-0fjZX3LusKBDyxCE2rXT6ITE7LqzKVUtmkUaYA_ptJg&oe=62F9F3F0" alt="" class="user-avatar">
              Minh Hieu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
              <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Đăng xuất</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
  </div>
</nav>